@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 46px;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: 2px solid theme("colors.custom-blue-500");
  outline-offset: 2px;
}

.custom-ellipsis {
  --lines-to-show: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines-to-show);
  line-clamp: var(--lines-to-show);
  -webkit-box-orient: vertical;
}

.clippath-musico {
  clip-path: polygon(0 8%, 100% 0%, 100% 90%, 0% 100%);
  background-position: center;
}

.card-rotate-perspective {
  perspective: 2000px;
}

.custom-card-rotate {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-rotate {
  backface-visibility: hidden;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

.modern-react-captcha {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.modern-react-captcha__inputField {
  position: absolute;
  top: 10%;
  left: 150px;
  padding: 1rem;
}

@media (max-width: 768px) {
  .modern-react-captcha {
    flex-direction: column;
    align-items: start;
  }
  .modern-react-captcha__inputField {
    position: relative;
    left: 0;
  }
}
