@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 46px;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: 2px solid theme("colors.custom-blue-500");
  outline-offset: 2px;
}

.custom-clippath {
}

.clippath-musico {
  clip-path: polygon(0 8%, 100% 0%, 100% 90%, 0% 100%);
}

.card-rotate-perspective {
  perspective: 2000px;
}

.custom-card-rotate {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-rotate {
  backface-visibility: hidden;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.rotate-x-180 {
  transform: rotateX(180deg);
}
